<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- permissions for INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_with_tittle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Estoquecerto"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".DrawerBaseActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.provider.ProviderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.sale.SaleCompleted"
            android:exported="false" />
        <activity
            android:name=".activities.client.ClientActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.start.Start4Activity"
            android:exported="false" />
        <activity
            android:name=".activities.start.Start3Activity"
            android:exported="false" />
        <activity
            android:name=".activities.start.Start2Activity"
            android:exported="false" />
        <activity
            android:name=".activities.employee.EditEmployeeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.employee.NewEmployeeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.employee.EmployeeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.user.UserActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.register.Register3Activity"
            android:exported="false" />
        <activity
            android:name=".activities.register.Register2Activity"
            android:exported="false" />
        <activity
            android:name=".activities.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.extract.ExtractActivity"
            android:exported="false" />
        <activity
            android:name=".activities.extract.NewExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.extract.NewRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.product.EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".activities.product.NewProductSecondActivity"
            android:exported="false" />
        <activity
            android:name=".activities.product.NewProductFirstActivity"
            android:exported="false" />
        <activity
            android:name=".activities.product.ProductActivity"
            android:exported="false" />

        <!--        USO EXCLUSIVO PARA TESTES        -->

        <!--        <activity-->
        <!--            android:name=".activities.product.ProductActivity"-->
        <!--            android:exported="false" />-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

        <!--        =========================        -->

        <activity
            android:name=".activities.client.NewClientActivity"
            android:exported="false" />
        <activity
            android:name=".activities.provider.NewProviderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.login.Login"
            android:exported="false" />
        <activity
            android:name=".activities.start.Start1Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>